# Output and Temporary files
countNumber/temp/*
!countNumber/temp/.htaccess
countNumber/output/*
!countNumber/output/.htaccess
countNumber/data/*.db
countNumber/data/*.sqlite
!countNumber/data/.gitkeep

# OS / Editor Files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
